---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<main class="mx-auto max-w-screen-lg">
		<div class="mb-8 text-center">
			<h1 class="text- mb-4 font-mono text-4xl font-black">blog title</h1>
			<h2>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ducimus repudiandae. A
				odit officiis esse fugit blanditiis. Fugit necessitatibus id distinctio, consequatur veniam
				doloribus voluptatem aliquid accusamus dolorum ullam nemo!
			</h2>
		</div>
		<ul role="list" class="grid grid-cols-2 gap-8">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
		</ul>
	</main>
</Layout>
